#basket_title {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	font-size: 15px;
}

#basket_title b {
	font-size: 18px;
}

#item_list {
	width: 80%;
	min-height: 70%;
	margin: 0% 10% 5%;
}

.bakset_item {
	width: 80%;
	margin-left: 10%;
}

.item_image {
	width: 20%;
	height: auto;
	display: inline-block;
}

.item_center {
	width: 55%;
	display: inline-block;
}

.item_name {
	vertical-align: middle;
}

.item_message {
	vertical-align: middle;
}

.item_price {
	width: 10%;
	display: inline-block;
	text-align: center;
}

.item_num {
	width: 10%;
	display: inline-block;
	text-align: center;
}

.bolder_line {
	border-width: 0;
	border: 1.5px solid black;
}

.light_line {
	border-width: 0;
	border: 0.5px solid #cccccc;
}

#null_basket {
	text-align: center;
	color: #555555;
	font-size: 18px;
	margin-top: 150px;
	margin-bottom: 150px;
}

#total_of_item {
	width: 80%;
	margin: 3% 10%;
	text-align:center;
}

#total_price {
	width: 45%;
	text-align:center;
	font-size:20px;
	font-weight:bolder;
	color:#111111;
	display:inline-block;
}

#purchase_form{
	width: 45%;
	display: inline-block;
	text-align:center;
    
}

#purchase_btn {
	width:50%;
    background-color: #4CAF50; /* Green */
    border: 2px solid #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#purchase_btn:hover{
	background-color: #ffffff; /* Green */
    
    color: #4CAF50;
}
.remove_btn {
	
}