body {
	width: 100%;
	height: 100%;
	background-color: #88c542;
}

#sc_login {
	width: 35%;
	min-height: 70%;
	height: 70%;
	background-color: #ffffff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

#login_form h1 {
	color: #4CAF50; font-size : 20px;
	font-weight: bolder;
	font-size: 20px;
}

#login_form {
	margin: auto;
	position: relative;
	top: 30%;
}

.input_text {
	width: 40%;
	height: 25px;
	text-align: center;
	margin: 10px 0px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 0px 0px red;
	border: 1px solid #cccccc;
}

#btn_login {
	background-color: #ffffff;
	border: none;
	color: #4CAF50;
	padding: 12px 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 16px;
	border: 2px solid #4CAF50;
	border-radius: 5px;
}

#btn_login:hover {
	background-color: rgba(76, 175, 80, 0.7);
	color: #ffffff;
}

#link_signin:link {
	color: #555555;
	font-style: italic;
}

#link_signin:visited {
	color: #555555;
}

#link_signin:hover {
	color: #4CAF50;
}