#sc_items {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.prd_item {
    padding-left: 1%;
    padding-right: 1%;
    width: 23%;
    display: inline-block;
}

.prd_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.prd_name {
    font-size: 18px;
    font-weight: bold;
}

.prd_price {
    text-align: right;
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
}

.prd_store {
    text-align: left;
    font-size: 15px;
    color: #cccccc;
}